* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.App {
    background-color: #f9d549;


}

.headerContainer{
    margin: 0 auto;
    width: 800px;


}

.headerItem{

    margin: 50px auto;
    min-width: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.cat{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.itemContainer {
    display: flex;
    justify-content: space-between;


}
/* Продукты*/


.products {
    display: flex;

    flex-wrap: wrap;

}

.main{
    display: flex;
}
