* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.App {
    background: beige;


}

.headerContainer{
    margin: 0 auto;
    width: 800px;

}

.headerItem{

    margin: 50px auto;
    min-width: 50px;
    padding: 50px;
    border: red solid 2px;
}

.itemContainer {
    display: flex;
    justify-content: space-between;


}
/* Продукты*/


.products {
    display: flex;

    flex-wrap: wrap;

}

.main{
    display: flex;
}
